* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(
      to bottom,
      #dcdcdc 50%,
      #e9e9e9 50%
    );
  font-family: sans-serif;
}

main {
  background-color: #e9e9e9;
  width: 500px;
  height: 700px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: 0 30px 50px;
  box-sizing: border-box;
  padding: 30px;
}

main form {
  align-items: center;
  justify-content: space-between;
}

main form input {
  width: 90%;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 2px 3px 4px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 20px;
}

main form button {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: yellowgreen;
  margin-bottom: 30px;
}

main p {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  text-align: center;
  align-items: center;
}

/* Home page styles */
main .showUser {
  background-image: url(../static/LoginLogo.png);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 20%;
}

main h1,
main h2 {
  text-align: center;
  margin-top: 20%;
}

/* Login page image */
main .UnknownUser {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url('../static/UserLogo.png');
  background-position: center;
  background-size: cover;
  margin-top: 40px;
  border-radius: 50%;
}
